{% extends "includes/rest_master.html" %}
{% block body %}
<div class="container1"> 
	<div class="container2">
    	<div class="container">
        	<div class="">
            	<div class="">        
					{% if show_edit %}	
					<span class="pull-right"><a class="btn btn-info" href="/post_editor/{{node._id}}">Edit</a></span>
					{% endif %}
                	<div class="col-lg-12">
                    	<hr/>
						<h3 class="intro-text text-center">{{ node.title }} <br/><small>{{ node.created_by.name }}</small> &nbsp;</h3>
                    	<hr/>
                	</div>
                	<div class="col-lg-12 ">
						<center>
							{% if node.images|length > 0 %}
							<img class="img-responsive img-border img-full" src="{{ node.images[0] }}" alt="">
							{% endif %}
                   		</center>
						{% if node.text %}
							<div class="container2">
								{{ node.text|safe }}
                    		</div>
						{% endif %}
        			</div>
            	</div>
          		<!-- the comment box -->
				{% import 'includes/comments.html' as comment_macro %}
				{{ comment_macro.show_comments(allcomments, node._id)}}
        	</div>
    	</div>
  	</div>   	
</div>   
{% endblock %}
{% block script_list %}comments.js{% endblock %}
